.step__line-left
  width: 5vw
  margin: 10px 10px
  border-top: 2px dashed

@media screen and (max-width: 1024px)

  .step__line-left
    width: 3vw
    display: none







@import "_border_none/step__line-left_border_none.sass"