.expenses__item_width_medium
  width: 65px
  text-align: right

@media screen and (max-width: 768px)

  .expenses__item_width_medium
    width: 65px
    text-align: right
    padding-right: 5px
    font-size: 18px