<template>
    <div class="content">
        <invoice-section></invoice-section>
        <invoice-steps v-if="view"></invoice-steps>
    </div>
</template>

<script>
    import InvoiceSteps from '../invoice-section/steps/Steps.vue'
    import InvoiceSection from '../invoice-section/InvoiceSection.vue'

    export default {
        data() {
            return {
                view: true
            }
        },

        components: {
            InvoiceSection,
            InvoiceSteps
        }
    }
</script>