<template>
    <div class="nav grid">
        <div class="grid__cell grid__cell_direction_column">
            <div class="nav__item nav__item_title title_size_big">
                Invoice Service
                <svg class="nav__item nav__item_svg"
                     viewBox="0 0 48 48"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M36 14l-2.83-2.83-12.68 12.69 2.83 2.83L36 14zm8.49-2.83L23.31 32.34 14.97 24l-2.83 2.83L23.31 38l24-24-2.82-2.83zM.83 26.83L12 38l2.83-2.83L3.66 24 .83 26.83z"/>
                </svg>
            </div>
            <div class="nav__item nav__item_subtitle">
                <span class="marker marker_color_blue">FREE,</span>
                UNLIMITED ONLINE INVOICES
            </div>
        </div>

        <div class="grid__cell">
            <div @click="dropMenu" class="nav__menu_button" :class="{nav__menu_button_active: isActive}">
                <span class="burger"></span>
                <span class="burger"></span>
                <span class="burger"></span>
                <transition name="slide-fade">
                    <drop-menu v-if="drop"></drop-menu>
                </transition>
            </div>

            <div class="nav__menu">
                <router-link class="nav__item nav__item_link" :to="{name: 'homepage'}">
                    Main
                </router-link>
                <a class="nav__item nav__item_link" href="#contacts">
                    Contacts
                </a>
                <a class="nav__item nav__item_link" href="#about">
                    About Us
                </a>
            </div>
        </div>

        <div class="grid__cell" v-if="login">
            <span class="nav__item username">Hello, {{ login }}</span>
            <button class="button nav__button" @click="logOut">Log out</button>
        </div>
        <div class="grid__cell" v-if="!login">
            <button class="button nav__button" @click="showLogin">Login</button>
            <button class="button nav__button" @click="showSignUp">Sign Up</button>
        </div>
        <login v-if="loginVisible" @closeModal="closeLoginModal" @username="auth"></login>
        <sign-up v-if="signUpVisible" @closeModal="closeSignUpModal" @username="auth"></sign-up>
    </div>
</template>

<script>
    import DropMenu from './DropMenu.vue'
    import SignUp from '../forms/SingUp.vue'
    import Login from '../forms/Login.vue'
    import axios from 'axios'

    export default {
        data() {
            return {
                drop: false,
                isActive: false,
                loginVisible: false,
                signUpVisible: false,
                login: ""
            }
        },
        props: {
            username:[String, null]
        },
        mounted() {
            this.auth(this.username);
        },
        methods: {
            dropMenu () {
                this.drop = !this.drop;
                this.isActive = !this.isActive;
            },
            showLogin () {
                this.loginVisible = !this.loginVisible;
            },
            showSignUp() {
                this.signUpVisible = !this.signUpVisible;
            },
            closeLoginModal (val) {
                this.loginVisible = val;
            },
            closeSignUpModal (val) {
                this.signUpVisible = val;
            },
            auth(val) {
                val = val || '';
                this.login = val;
            },
            logOut() {
                this.login = "";
                this.setCookie('userToken', '');
                this.$router.push({name: 'homepage'});
            },
            setCookie(cname ,cvalue) {
                let date = new Date();
                date.setTime(date.getTime() + (24*60*60*1000));
                let expires = 'expires=' + date.toUTCString();
                document.cookie = cname + '=' + cvalue + ';' + expires + ';';
            },
        },
        components: {
            DropMenu,
            SignUp,
            Login
        }
    }
</script>