<template>
    <div class="drop-menu">
        <div class="nav__menu nav__menu_drop">
            <router-link class="nav__item nav__item_link" :to="{name: 'homepage'}">
                Main
            </router-link>
            <a class="nav__item nav__item_link" href="#contacts">
                Contacts
            </a>
            <a class="nav__item nav__item_link" href="#about">
                About Us
            </a>
            <button class="button button_color_primary">Login</button>
            <button class="button button_color_primary">Sign Up</button>

            <div class="content-buttons content-buttons_drop-menu">
                <router-link :to="{name: 'settings'}">
                    <button class="button content__button">settings</button>
                </router-link>
                <router-link :to="{name: 'currency converter'}">
                    <button class="button content__button">currency</button>
                </router-link>
                <router-link :to="{name: 'invoice'}">
                    <button class="button content__button">+ add invoice</button>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {}
</script>