.button
  background-color: transparent
  color: $primary-font-color
  outline: none
  font-size: 17px
  border-radius: 5px
  cursor: pointer

@media screen and (max-width: 1024px)

  .button
    font-size: 17px

@import "_color_primary/button_color_primary.sass"