.nav__item_title
  padding-bottom: 7px

@media screen and (max-width: 1250px)

  .nav__item_title
    font-size: 35px
    padding-bottom: 0

@media screen and (max-width: 1150px)

  .nav__item_title
    font-size: 30px

@media screen and (max-width: 425px)

  .nav__item_title
    font-size: 22px