.currency-converter__item
  padding-top: 20px
  display: flex
  width: 80%
  justify-content: space-between
  align-items: center


@media screen and (max-width: 1024px)

  .currency-converter__item
    justify-content: space-between
    align-items: center
    flex-direction: column
    width: 100%

@import "_border_bottom/currency-converter__item_border_bottom.sass"
