<template>
    <div class="step" :class="item.colorClass">
        <div class="step__line-left" :class="!item.lineLeft && 'step__line-left_border_none'"></div>
        <div class="step__number">
            <div class="step__circle">{{ item.number }}</div>
            <div class="step__line-down" :class="item.lineDownHeight" v-if="item.sideBlock" ></div>
        </div>
        <div class="step__description">
            <div class="step__title title_size_small">{{ item.name }}</div>
            <div class="step__subtitle subtitle_size_small" v-html="item.description"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: Object
        }
    }
</script>