<template>
    <div class="steps">
        <step-item v-for="tip in tips"
                   :item="tip"
                   :key="tip.number"
        >
        </step-item>
    </div>
</template>

<script>
    import StepItem from './StepItem.vue'

    import tips from '../../../config/tips'

    export default {
        data () {
            return {
                tips: []
            }
        },
        mounted () {
            this.tips = tips
        },
        components: {
            StepItem
        }
    }
</script>