.nav__item_subtitle
  margin-left: 0
  font-weight: bold
  font-size: 18px

@media screen and (max-width: 1250px)

  .nav__item_subtitle
    font-size: 16px

@media screen and (max-width: 1150px)

  .nav__item_subtitle
    font-size: 14px

@media screen and (max-width: 768px)

  .nav__item_subtitle
    font-size: 15px

@media screen and (max-width: 425px)

  .nav__item_subtitle
    font-size: 10px