@media screen and (max-width: 768px)

  .drop-menu
    position: absolute
    background: #f7f6f6
    top: 4.09rem
    right: -20px
    z-index: 1
    width: 320px
    min-height: calc(100vh - 6.4rem)
    display: flex
    flex-direction: column
    align-items: center
    box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.2)