.page-not-found
  color: $primary-color
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center

@import "__title/page-not-found__title.sass"
@import "__subtitle/page-not-found__subtitle.sass"
