.invoice-footer
  display: flex
  flex-direction: row-reverse
  justify-content: space-between
  align-items: center
  padding-top: 10px

@media screen and (max-width: 768px)

  .invoice-footer
    flex-direction: column