<template>
    <div v-if="isLoading">
        <invoice-form :invoice="invoice" @totalOfExpenses="totalOfExpenses"></invoice-form>
        <div class="invoice-footer">
            <div class="invoice__total-subtotal">
            <span class="marker marker_color_grey">
                Total: {{ invoice.total || 0 }} USD
            </span>
            </div>
            <div>
                <svg class="svg svg_download-pdf" height="40px" width="40px" viewBox="0 0 32 32">
                    <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                        <g fill="#64b5f6">
                            <path d="M21,13 L21,10 L21,10 L15,3 L4.00276013,3 C2.89666625,3 2,3.89833832 2,5.00732994 L2,27.9926701 C2,29.1012878 2.89092539,30 3.99742191,30 L19.0025781,30 C20.1057238,30 21,29.1017876 21,28.0092049 L21,26 L28.9931517,26 C30.6537881,26 32,24.6577357 32,23.0012144 L32,15.9987856 C32,14.3426021 30.6640085,13 28.9931517,13 L21,13 L21,13 L21,13 Z M20,26 L20,28.0066023 C20,28.5550537 19.5523026,29 19.0000398,29 L3.9999602,29 C3.45470893,29 3,28.5543187 3,28.004543 L3,4.99545703 C3,4.45526288 3.44573523,4 3.9955775,4 L14,4 L14,8.99408095 C14,10.1134452 14.8944962,11 15.9979131,11 L20,11 L20,13 L12.0068483,13 C10.3462119,13 9,14.3422643 9,15.9987856 L9,23.0012144 C9,24.6573979 10.3359915,26 12.0068483,26 L20,26 L20,26 L20,26 Z M15,4.5 L15,8.99121523 C15,9.54835167 15.4506511,10 15.9967388,10 L19.6999512,10 L15,4.5 L15,4.5 Z M11.9945615,14 C10.8929956,14 10,14.9001762 10,15.992017 L10,23.007983 C10,24.1081436 10.9023438,25 11.9945615,25 L29.0054385,25 C30.1070044,25 31,24.0998238 31,23.007983 L31,15.992017 C31,14.8918564 30.0976562,14 29.0054385,14 L11.9945615,14 L11.9945615,14 Z M25,19 L25,17 L29,17 L29,16 L24,16 L24,23 L25,23 L25,20 L28,20 L28,19 L25,19 L25,19 Z M12,18 L12,23 L13,23 L13,20 L14.9951185,20 C16.102384,20 17,19.1122704 17,18 C17,16.8954305 16.1061002,16 14.9951185,16 L12,16 L12,18 L12,18 Z M13,17 L13,19 L15.0010434,19 C15.5527519,19 16,18.5561352 16,18 C16,17.4477153 15.5573397,17 15.0010434,17 L13,17 L13,17 Z M18,16 L18,23 L20.9951185,23 C22.102384,23 23,22.1134452 23,20.9940809 L23,18.0059191 C23,16.8980806 22.1061002,16 20.9951185,16 L18,16 L18,16 Z M19,17 L19,22 L21.0010434,22 C21.5527519,22 22,21.5562834 22,21.0001925 L22,17.9998075 C22,17.4476291 21.5573397,17 21.0010434,17 L19,17 L19,17 Z"/>
                        </g>
                    </g>
                </svg>
            </div>
            <button v-if="!invoiceId" class="button button_color_primary" @click="save">save</button>
            <div v-if="invoiceId">
                <button class="button button_color_primary">send</button>
                <button class="button button_color_primary" @click="update">update</button>
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash'
    import InvoiceApi from '../../../api/InvoiceApi.js'
    import InvoiceForm from './Form.vue'
    import defaultInvoice from '../../../config/defaultInvoice'

    export default {

        props: {
            invoiceId: [Number, String]
        },

        data () {
            return {
                invoice: null,
                isLoading: false
            }
        },

        mounted () {
            this.getInvoice();
        },

        methods: {
            getInvoice () {
                if (this.invoiceId) {
                    InvoiceApi.show(this.invoiceId)
                    .then(response => {
                        this.invoice = response.data;
                        this.isLoading = true;
                    }).catch(er => {
                        this.$toasted.show('Oops.. Something went wrong..', {
                            theme: "outline",
                            position: "top-center",
                            duration: 2000});
                        })
                } else {
                    this.invoice = _.cloneDeep(defaultInvoice);
                    this.isLoading = true;
                }
            },

            save () {
                InvoiceApi.store(this.invoice)
                    .then(response => {
                        this.$router.push("invoice/" + response.data.id)
                    })
                    .catch(er => {
                        this.$toasted.show('Oops.. Something went wrong..', {
                            theme: "outline",
                            position: "top-center",
                            duration: 2000});
                    })
            },

            update () {
                InvoiceApi.update(this.invoiceId, this.invoice)
                    .then(response => {
                        this.invoice = response.data
                    })
                    .catch(er => {
                        this.$toasted.show('Oops.. Something went wrong..', {
                            theme: "outline",
                            position: "top-center",
                            duration: 2000});
                    })
            },

            totalOfExpenses (value) {
                this.invoice.total = value + "";
            }
        },

        components: {
            InvoiceForm
        }
    }
</script>