<template>
    <div>
        <invoice-header-fields :invoice="invoice"></invoice-header-fields>
        <div class="invoice-body">
            <invoice-notes-field :invoice="invoice"></invoice-notes-field>
            <invoice-table-expenses :expenses="invoice.expenses" @totalOfExpenses="totalOfExpenses"></invoice-table-expenses>
        </div>
    </div>
</template>

<script>
    import InvoiceHeaderFields from './InvoiceHeaderFields.vue'
    import InvoiceNotesField from './InvoiceNotesField.vue'
    import InvoiceTableExpenses from './InvoiceTableExpenses.vue'

    export default {
        props: {
            invoice: Object
        },

        methods: {
            totalOfExpenses(value) {
              this.$emit('totalOfExpenses', value);
          }
        },

        components: {
            InvoiceHeaderFields,
            InvoiceNotesField,
            InvoiceTableExpenses,
        }
    }
</script>