<template>
    <div class="invoice-header grid">
        <div class="grid__cell">
            <span class="title title_size_big">Invoice</span>
        </div>
        <div class="grid grid__cell_style_number-date">
            <label class="grid__cell">
                <span class="title_size_medium">№</span>
                <input class="input
                              input_size_big
                              input_style_user-information"
                       type="text"
                       v-model="invoice.number"
                >
            </label>
            <label class="grid__cell">
                <span class="title_size_medium">Date</span>
                <input class="input
                              input_size_big
                              input_style_user-information"
                       type="date"
                       v-model="invoice.date"
                >
            </label>
        </div>
        <ul class="tabs">
                <li @click="direction='From'">
                    <span class="tabs__tab" :class="{tabs__tab_active: !isActive}">
                        From
                    </span>
                </li>
                <li @click="direction='For'">
                    <span class="tabs__tab" :class="{tabs__tab_active: isActive}">
                        For
                    </span>
                </li>
        </ul>

        <div class="grid grid_display_true">
            <invoice-user-information-fields :user="invoice.user" direction="From">
            </invoice-user-information-fields>
            <invoice-user-information-fields :user="invoice.client" direction="For">
            </invoice-user-information-fields>
        </div>
        <div class="grid grid_display_false">
            <invoice-user-information-fields :user="invoice.user" v-if="direction === 'From'" direction="From">
            </invoice-user-information-fields>
            <invoice-user-information-fields :user="invoice.client" v-if="direction === 'For'" direction="For">
            </invoice-user-information-fields>
        </div>
    </div>
</template>

<script>
    import InvoiceUserInformationFields from './InvoiceUserInformationFields.vue'

    export default {
        data() {
            return {
                direction: 'From',
                isActive: false
            }
        },

        props: {
          invoice: Object
        },

        watch: {
            direction(val, oldVal) {
                if(val != oldVal) {
                    this.isActive = !this.isActive;
                }
            }
        },

        components: {
            InvoiceUserInformationFields
        }
    }
</script>