<template>
    <div class="grid__cell grid__cell_direction_column">
        <span class="title_size_medium">{{ direction }}</span>
        <label class="user-contacts">
            <span class="subtitle_size_big">Name</span>
            <input class="input
                          input_size_small
                          input_style_user-information"
                   type="text"
                   v-model="user.name"
            >
        </label>
        <label class="user-contacts">
            <span class="subtitle_size_big">Email</span>
            <input class="input
                          input_size_small
                          input_style_user-information"
                   type="text"
                   v-model="user.email"
            >
        </label>
        <label class="user-contacts">
            <span class="subtitle_size_big">Address</span>
            <input class="input
                          input_size_small
                          input_style_user-information"
                   type="text"
                   v-model="user.address"
            >
        </label>
    </div>
</template>

<script>
    export default {
        props: {
            user: Object,
            direction: String
        },

        watch: {
            direction() {
                this.getItemsFromLocalStorage();
            }
        }
    }
</script>