<template>
    <div class="expenses__elem">
        <div class="expenses__input-block">
            <label class="expenses__label">
                Description
            </label>
            <input placeholder="Service or product"
                   class="input
                          expenses__item
                          expenses__item_style_input
                          expenses__item_width_big"
                   type="text"
                   v-model="expense.description"
            >
        </div>
        <div class="expenses__input-block">
            <label class="expenses__label">
                Price
            </label>
            <input class="input
                          expenses__item
                          expenses__item_style_input
                          expenses__item_width_medium"
                   type="text"
                   placeholder="0"
                   v-model="expense.price"
            >
        </div>
        <div class="expenses__input-block">
            <label class="expenses__label">
                Qty
            </label>
            <input class="input
                          expenses__item
                          expenses__item_style_input
                          expenses__item_width_small"
                   type="text"
                   placeholder="0"
                   maxlength="4"
                   v-model="expense.qty"
            >
        </div>
        <div class="expenses__input-block">
            <label class="expenses__label">
                Amount
            </label>
            <span class="expenses__item
                         expenses__item_width_medium"
            >
                {{ total }}
            </span>
        </div>
        <svg class="svg svg_delete"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 174.239 174.239"
             @click="removeTableElem"
        >
            <path d="M146.537,1.047c-1.396-1.396-3.681-1.396-5.077,0L89.658,52.849c-1.396,1.396-3.681,1.396-5.077,0L32.78,1.047  c-1.396-1.396-3.681-1.396-5.077,0L1.047,27.702c-1.396,1.396-1.396,3.681,0,5.077l51.802,51.802c1.396,1.396,1.396,3.681,0,5.077  L1.047,141.46c-1.396,1.396-1.396,3.681,0,5.077l26.655,26.655c1.396,1.396,3.681,1.396,5.077,0l51.802-51.802  c1.396-1.396,3.681-1.396,5.077,0l51.801,51.801c1.396,1.396,3.681,1.396,5.077,0l26.655-26.655c1.396-1.396,1.396-3.681,0-5.077  l-51.801-51.801c-1.396-1.396-1.396-3.681,0-5.077l51.801-51.801c1.396-1.396,1.396-3.681,0-5.077L146.537,1.047z"/>
        </svg>
    </div>
</template>

<script>
    export default {
        props: {
            expense: Object,
            index: Number
        },
        computed: {
            total () {
                this.expense.amount = this.expense.price * this.expense.qty;
                return this.expense.amount;
            }
        },
        methods: {
            removeTableElem() {
                this.$emit('delete', this.index);
            }
        }
    }
</script>