<template>
    <div class="notes">
        <label for="invoiceNotes">
            <span class="title_size_medium">Notes</span>
        </label>
        <textarea id="invoiceNotes"
                  class="textarea invoice__textarea"
                  name="notes"
                  v-model="invoice.notes"
        >
        </textarea>
    </div>
</template>

<script>
    export default {
        props: {
            invoice: Object
        },
    }
</script>
