<template>
    <div class="expenses">
        <span class="title_size_medium">Expenses</span>
        <div class="expenses__elem expenses__elem_padding_top">
            <div class="expenses__caption
                        expenses__item_width_big">
                Description
            </div>
            <div class="expenses__caption
                        expenses__item_width_medium">
                Price
            </div>
            <div class="expenses__caption
                        expenses__item_width_small">
                Qty
            </div>
            <div class="expenses__caption
                        expenses__item_width_medium">
                Amount
            </div>
        </div>
        <transition-group name="fade" mode="in-out">
            <invoice-table-elem v-for="(expense, index) in expenses"
                                              :key="index"
                                              :expense="expense"
                                              :index="index"
                                              @delete="deleteExpense"
            >
            </invoice-table-elem>
        </transition-group>
        <svg class="svg svg_add"
             width="15px"
             height="15px"
             viewBox="0 0 401.994 401.994"
             xmlns="http://www.w3.org/2000/svg"
             @click="addTableElem"
        >
            <path d="M394,154.175c-5.331-5.33-11.806-7.994-19.417-7.994H255.811V27.406c0-7.611-2.666-14.084-7.994-19.414   C242.488,2.666,236.02,0,228.398,0h-54.812c-7.612,0-14.084,2.663-19.414,7.993c-5.33,5.33-7.994,11.803-7.994,19.414v118.775   H27.407c-7.611,0-14.084,2.664-19.414,7.994S0,165.973,0,173.589v54.819c0,7.618,2.662,14.086,7.992,19.411   c5.33,5.332,11.803,7.994,19.414,7.994h118.771V374.59c0,7.611,2.664,14.089,7.994,19.417c5.33,5.325,11.802,7.987,19.414,7.987   h54.816c7.617,0,14.086-2.662,19.417-7.987c5.332-5.331,7.994-11.806,7.994-19.417V255.813h118.77   c7.618,0,14.089-2.662,19.417-7.994c5.329-5.325,7.994-11.793,7.994-19.411v-54.819C401.991,165.973,399.332,159.502,394,154.175z"/>
        </svg>
    </div>
</template>
<script>
    import InvoiceTableElem from './InvoiceTableElem.vue'
    import _ from 'lodash'

    export default {

        props: {
            expenses: Array
        },
        data () {
            return {
                defaultExpense: {description: '', price: '', qty: '', amount: ''}
            }
        },
        mounted () {
            this.getTotalOfAmount();
        },
        methods: {
            getTotalOfAmount () {
                let totalOfExpenses = 0;
                this.expenses.forEach(elem => {
                    totalOfExpenses += elem.amount;
                })
                this.$emit('totalOfExpenses', totalOfExpenses);
            },

            deleteExpense (index) {
                this.expenses.splice(index, 1);
            },

            addTableElem () {
                this.expenses.push(_.cloneDeep(this.defaultExpense));
            },
        },
        watch: {
            expenses: {
                handler() {
                    this.getTotalOfAmount();
                },
                deep: true
            }
        },
        components: {
            InvoiceTableElem
        }
    }
</script>
