.nav__button
  border: 3px solid
  color: $primary-color
  padding: 0.5vw 2vw
  margin: 0 1rem 0 0

  &:hover
    color: darken( $primary-color, 5% )
    border-color: darken( $primary-color, 10% )


@media screen and (max-width: 1024px)

  .nav__button
    border: 2px solid
    padding: 0.3vw 1vw


@media screen and (max-width: 768px)
  .nav__button
    margin: 0 1rem 0 0


