.step
  display: flex

@media screen and (max-width: 1024px)

  .step
    margin-top: 50px
    padding-right: 20px


@import "__line-left/step__line-left.sass"
@import "__number/step__number.sass"
@import "__circle/step__circle.sass"
@import "__line-down/step__line-down.sass"
@import "__description/step__description.sass"

@import "_color_blue/step_color_blue.sass"
@import "_color_dark-green/step_color_dark-green.sass"
@import "_color_green/step_color_green.sass"
@import "_color_yellow/step_color_yellow.sass"
@import "_color_red/step_color_red.sass"