.grid__cell
  display: flex
  justify-content: flex-start

@media screen and (max-width: 768px)

  .grid__cell
    align-items: baseline
    margin: 0 20px

@import "_direction_column/grid__cell_direction_column.sass"
@import "_style_number-date/grid__cell_style_number-date.sass"