.step__line-down
  border-right: 2px dashed
  margin: 12px 13px

@media screen and (max-width: 1024px)

  .step__line-down
    display: none


@import "_height_large/step__line-down_height_large.sass"
@import "_height_big/step__line-down_height_big.sass"
@import "_height_medium/step__line-down_height_medium.sass"
@import "_height_small/step__line-down_height_small.sass"