.button_color_primary
  display: inline
  padding: 5px 30px
  border: none
  color: #ebebeb
  background-color: $primary-color
  text-transform: uppercase

  &:hover
    background-color: darken( $primary-color, 5% )

@media screen and (max-width: 768px)

  .button_color_primary
    padding: 5px 16px
    width: 100%
    text-align: center
    margin-top: 20px
