.container
  padding: 0 100px
  display: flex
  flex-direction: column
  background-color: darken($color-grey, 26%)
  min-height: 100vh

@media screen and (max-width: 1460px)

  .container
    padding: 0 70px

@media screen and (max-width: 1024px)

  .container
    padding: 0 50px

@media screen and (max-width: 768px)

  .container
    padding: 0