.expenses__label
  display: none

@media screen and (max-width: 768px)

  .expenses__label
    display: block
    font-weight: bold


@media screen and (max-width: 425px)
  .expenses__label
    font-size: 15px