<template>
    <div class="content content_style_page-not-fount">
        <div class="page-not-found" >
            <span class="page-not-found__title">
                404
            </span>
            <span class="page-not-found__subtitle">
                page is not found
            </span>
        </div>
    </div>
</template>