.nav__menu_button_active > .burger:first-child
  transform: rotate(45deg)
  top: 12px
  right: 5px

.nav__menu_button_active > .burger:nth-child(2)
  opacity: 0

.nav__menu_button_active > .burger:nth-child(3)
  transform: rotate(-45deg)
  bottom: 10px
  right: 5px

