.modal
  bottom: 0
  left: 0
  right: 0
  top: 0
  align-items: center
  display: flex
  justify-content: center
  overflow: hidden
  position: fixed
  z-index: 40

@import "__background/modal__background.sass"
@import "__content/modal__content.sass"
@import "__form/modal__form.sass"
@import "__label/modal__label.sass"
@import "__input/modal__input.sass"