.content
  display: flex
  justify-content: center
  flex-grow: 1
  flex-shrink: 1

@media screen and (max-width: 1024px)

  .content
    flex-direction: column
    align-items: center

@import "___button/content__button.sass"
@import "_style_page-not-fount/content_style_page-not-fount.sass"