<template>
    <div class="invoice-block">
        <div class="content-buttons">
            <router-link :to="{name: 'all-invoices'}">
                <button class="button content__button">+ add invoice</button>
            </router-link>
            <router-link :to="{name: 'currency converter'}">
                <button class="button content__button">currency</button>
            </router-link>
            <router-link :to="{name: 'settings'}">
                <button class="button content__button">settings</button>
            </router-link>
        </div>
        <div class="invoice" v-if="isLoaded">
            <invoice-form :invoice="defaultInvoice"></invoice-form>
            <invoice-footer :totalOfAmount="total"></invoice-footer>
        </div>
    </div>
</template>

<script>
    import InvoiceForm from '../invoice-section/invoice/Form.vue'
    import InvoiceFooter from './invoice/InvoiceFooter.vue'
    import defaultInvoice from '../../config/defaultInvoice'

    export default {
        data () {
            return {
                total: 0,
                defaultInvoice: {},
                isLoaded: false
            }
        },
        mounted () {
          this.defaultInvoice = defaultInvoice;
          this.isLoaded = true;
        },
        components: {
            InvoiceForm,
            InvoiceFooter
        }
    }
</script>