@media screen and (max-width: 768px)

  .burger
    display: flex
    height: 4px
    background-color: $primary-color
    position: relative

@media screen and (max-width: 425px)

  .burger
    height: 3px
