.expenses__item_width_big
  width: 280px
  text-align: left

@media screen and (max-width: 1250px)

  .expenses__item_width_big
    width: 220px

@media screen and (max-width: 1024px)

  .expenses__item_width_big
    width: 200px

@media screen and (max-width: 768px)

  .expenses__item_width_big
    width: 160px