<template>
    <div class="modal">
        <div class="modal__background"></div>
        <div class="modal__content">
            <div class="box">
                <span class="title_size_medium">Sign Up</span>
                <i class="fas fa-times" @click="closeModal"></i>
                <form class="modal__form" action="">
                    <label class="subtitle_size_big modal__label">Login</label>
                    <input class="modal__input" type="text" v-model="data.login">
                    <label class="subtitle_size_big modal__label">Password</label>
                    <input class="modal__input" type="password" v-model="data.password">
                </form>
                <button class="button button_color_primary" @click="signUp">
                    Sign Up
                </button>
            </div>
        </div>
    </div>
</template>
<script>

    import axios from 'axios'
    import {mapState} from 'vuex'
    import UserApi from '../../api/UserApi.js'
    import LoginApi from '../../api/LoginApi.js'
    import Api from './../../api/Api.js'

    export default {
        data() {
            return {
                signUpModalVisible: false,
                data: {
                    login: "",
                    password: ""
                }
            }
        },

        methods: {
            closeModal() {
                this.$emit('closeModal', this.signUpModalVisible)
            },

            signUp() {
                if(this.data.login && this.data.password) {
                    UserApi.store(this.data)
                        .then(() => {
                            LoginApi.login(this.data)
                                .then(response => {
                                    this.$store.dispatch('setUserToken', response.data);
                                })
                                .then(() => {
                                    this.$emit('closeModal', this.signUpModalVisible);
                                    this.$emit('username', this.data.login);
                                    this.$router.push({name: 'all-invoices'});
                                })
                        })
                        .catch(er => {
                            this.$toasted.show('Oops.. Something went wrong..', {
                                theme: "outline",
                                position: "top-center",
                                duration: 2000});
                        })
                } else {
                    this.$toasted.show('Please, fill both fields', {
                        theme: "outline",
                        position: "top-center",
                        duration: 2000});
                }
            }
        }
    }
</script>