.expenses__item_style_input
  border: none
  padding: 5px 0
  outline: none
  background-color: transparent

@media screen and (max-width: 1024px)

  .expenses__item_style_input
    font-size: 15px

@media screen and (max-width: 768px)

  .expenses__item_style_input
    font-size: 16px
    padding-right: 5px
    text-align: right