.title_size_medium
  font-size: 30px

@media screen and (max-width: 1440px)

  .title_size_medium
    font-size: 25px

@media screen and (max-width: 1300px)

  .title_size_medium
    font-size: 22px

@media screen and (max-width: 600px)

  .grid__cell_direction_column > .title_size_medium
    display: none


