.expenses__elem
  display: flex
  border: none
  position: relative
  border-bottom: 1px dashed #929292
  justify-content: space-between

@media screen and (max-width: 768px)

  .expenses__elem
    flex-direction: column


@import "_padding_top/expenses__elem_padding_top.sass"