.expenses__caption
  color: lighten($color-grey, 5%)
  font-size: 17px
  border: none
  font-weight: bold

@media screen and (max-width: 1250px)

  .expenses__caption
    font-size: 15px

@media screen and (max-device-width: 768px)

  .expenses__caption
    display: none