.nav__item_link
  font-size: 22px
  text-decoration: none
  color: $primary-font-color

.nav__item_link:hover
   color: $primary-color

@media screen and (max-width: 1300px)

  .nav__item_link
    font-size: 16px

@media screen and (max-width: 768px)

  .nav__item_link
    color: $color-grey
    padding-bottom: 10px