.invoice__textarea
  margin-top: 10px
  border-radius: 5px
  border: 1px solid #929292
  background-color: transparent
  outline: none
  max-width: 100%
  max-height: 100px
  padding: 0.3rem 1.2rem

@media screen and (max-width: 768px)

  .invoice__text-area
    max-height: 100px