.svg_delete
  cursor: pointer
  position: absolute
  top: 25%
  right: -3%
  fill: transparent
  width: 11px
  height: 11px

.expenses__elem:hover .svg_delete
  fill: $color-red

@media screen and (max-width: 1250px)

  .svg_delete
    right: -4%

@media screen and (max-width: 768px)

  .svg_delete
    top: 48%
    right: -3%
    fill: $color-red

@media screen and (max-width: 600px)

  .svg_delete
    right: -5%






@import "_settings/svg_delete_setting.sass"