<template>
    <div class="body">
        <div class="container" v-if="showPage && pageLoaded">
            <app-header :username="username"></app-header>
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
            <app-footer></app-footer>
        </div>
    </div>
</template>

<script>

    import AppHeader from './components/layouts/AppHeader.vue'
    import AppFooter from './components/layouts/AppFooter.vue'
    import UserApi from './api/UserApi.js'
    import {mapState} from 'vuex'

    export default {
        name: 'app',

        data() {
          return {
              username: '',
              pageLoaded: false
          }
        },

        components: {
            AppHeader,
            AppFooter,
        },

        computed: {
            ...mapState({
               userToken: state => state.userToken
            }),

            showPage () {
                return this.$route.name !== 'not found';
            }
        },

        mounted () {
            this.setUserToken(this.getCookie('userToken'));
            if (this.userToken) {
                this.getUser();
            } else this.pageLoaded = true;
        },

        methods: {
            getUser() {
                UserApi.show()
                    .then(response => {
                        this.username = response.data.login || '';
                        this.pageLoaded = true;
                    })
                    .catch(er => {
                        this.$toasted.show('Oops.. Something went wrong..', {
                            theme: "outline",
                            position: "top-center",
                            duration: 2000
                        });
                    })
            },

            getCookie(cname) {
                let matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + cname.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                ));
                return matches ? decodeURIComponent(matches[1]) : '';
            },

            setUserToken(token) {
                this.$store.dispatch('setUserToken', token);
            }
        },

        watch: {
            '$route': {
                handler () {},
                immediate: true,
                deep: true
            }
        }
    }
</script>
