.invoice
  color: $color-grey
  position: relative
  padding: 30px 100px
  width: 40vw
  background-color: #f7f6f6
  box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.2), -10px 10px #f7f6f6, -14px 15px 5px rgba(0, 0, 0, 0.2), -20px 20px #f7f6f6

@media screen and (max-width: 1460px)

  .invoice
    padding: 30px 65px

@media screen and (max-width: 1024px)

  .invoice
    width: 60vw

@media screen and (max-device-width: 768px)

  .invoice
    width: auto
    padding: 30px 38px
    box-shadow: none
    display: flex
    flex-direction: column

@media screen and (max-device-width: 350px)
  .invoice
    padding: 30px 20px

@import "__textarea/invoice__textarea.sass"
@import "__total-subtotal/invoice__total-subtotal.sass"
@import "_style_settings/invoice_style_settings.sass"
@import "__settings/invoice__settings.sass"
@import "_style_currency-converter/invoice_style_currency-converter.sass"