.nav
  padding: 50px 0
  width: 100%
  max-width: 1500px
  flex-grow: 0
  flex-shrink: 0
  user-select: none

@media screen and (max-width: 1024px)

  .nav
    padding: 20px 0 30px 0
    max-width: 1024px

@media screen and (max-width: 768px)

  .nav
    flex-direction: row
    align-items: center

  .nav > .grid__cell:last-child
    display: none

@import "__button/nav__button.sass"
@import "__item/nav__item.sass"
@import "__menu/nav__menu.sass"