.input
  outline: none
  color: $color-grey
  font: 18px $font-stack
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-clear-button
  display: none
  -webkit-appearance: none

@media screen and (max-width: 1300px)

  .input
    font-size: 16px

@media screen and (max-device-width: 768px)

  .input
    font-size: 18px

@import "_size_big/input_size_big.sass"
@import "_style_user-information/input_style_user-information.sass"
@import "_setting-description/input_setting-description.sass"