.invoice_style_settings
  width: 20vw
  display: flex
  flex-direction: column
  padding: 30px 170px


@media screen and (max-width: 1400px)

  .invoice_style_settings
    padding: 10px 100px
    width: 40vw

@media screen and (max-width: 768px)

  .invoice_style_settings
    width: 85vw
    padding: 40px 15px