.nav__item_svg
  padding-left: 7px
  width: 48px
  height: 48px
  fill: $primary-color

@media screen and (max-width: 1024px)

  .nav__item_svg
    padding-left: 10px
    width: 44px
    height: 44px

@media screen and (max-device-width: 768px)

  .nav__item_svg
    width: 48px
    height: 48px

@media screen and (max-device-width: 768px)

  .nav__item_svg
    width: 35px
    height: 35px