.box
  background-color: lighten($primary-font-color, 20%)
  border-radius: 5px
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
  color: $color-grey
  display: flex
  flex-direction: column
  padding: 1.45rem
  width: 300px
