.expenses
  display: flex
  flex-direction: column
  padding-top: 15px

@import "__elem/expenses__elem.sass"
@import "__item/expenses__item.sass"
@import "__caption/expenses__caption.sass"
@import "__label/expenses__label.sass"
@import "__input-block/expenses__input-block.sass"