.content__button
  color: $primary-font-color
  letter-spacing: 5px
  border: 1px solid
  text-transform: uppercase
  margin: 20px 5px

  &:hover
    border: 1px solid
    color: $primary-color

@media screen and (max-width: 1024px)

  .content__button
    margin: 0

@media screen and (max-width: 768px)

  .content__button
    margin: 20px 0 0 0
    color: #929292
    border: 2px solid #929292
    font-weight: bold
    width: 100%

