.input_size_big
  width: 55%
  font-size: 24px

@media screen and (max-width: 1390px)

  .input_size_big
    font-size: 22px

@media screen and (max-width: 1200px)

  .input_size_big
    width: 60%

@media screen and (max-width: 768px)

  .input_size_big
    font-size: 26px
    padding-left: 15px

@media screen and (max-width: 375px)

  .input_size_big
    font-size: 22px

