.nav__item
  display: flex
  align-items: center
  margin: 0 3.2rem 0 0

@media screen and (max-width: 1440px)
  .nav__item
    margin: 0 2.2rem 0 0

@media screen and (max-width: 768px)
  .nav__item
    margin: 0

@import "_title/nav__item_title.sass"
@import "_subtitle/nav__item_subtitle.sass"
@import "_svg/nav__item_svg.sass"
@import "_link/nav__item_link.sass"