.title_size_big
  font-size: 40px
  text-align: center

@media screen and (max-width: 1300px)

  .title_size_big
    font-size: 35px

@media screen and (max-width: 1024px)

  .title_size_big
    font-size: 30px