.grid__cell_style_number-date
  padding: 20px 0 10px 0

@media screen and (max-width: 768px)

  .grid__cell_style_number-date
    align-items: flex-start
    width: 100%

@media screen and (max-width: 600px)

  .grid__cell_style_number-date
    flex-direction: column