.user-contacts_setting
  padding-top: 20px
  position: relative

.user-contacts_setting:hover .svg_delete_setting
  fill: $color-red

@media screen and (max-width: 1400px)

  .user-contacts_setting
    flex-direction: row

@media screen and (max-width: 786px)

  .user-contacts_setting
    font-size: 17px
    flex-direction: column
