.user-contacts
  color: lighten($color-grey, 20%)
  font-size: 20px
  padding-left: 5px
  padding-top: 10px
  display: flex

@media screen and (max-width: 1440px)

  .user-contacts
    padding-left: 0

@media screen and (max-width: 1390px)

  .user-contacts
    display: flex
    flex-direction: column
    align-items: flex-start

@import "_settings/user-contacts_settings.sass"