.subtitle_size_small

  font-size: 18px
  font-weight: normal

@media screen and (max-width: 1440px)

  .subtitle_size_small
    font-size: 18px

@media screen and (max-width: 1250px)

  .subtitle_size_small
    font-size: 17px


