.nav__menu
  display: flex
  justify-content: space-between

@media screen and (max-device-width: 925px)

  .nav__menu
    flex-direction: column
    align-items: center

@media screen and (max-width: 768px)

  .nav__menu
    display: none


@import "_button/nav__menu_button.sass"
@import "_drop/nav__menu_drop.sass"