.tabs
  display: none
  border-bottom: 2px solid lighten($color-grey, 20%)
  border-top: 2px solid lighten($color-grey, 20%)
  margin: 10px 0
.tabs:last-child
  margin-left: 10px

@media screen and (max-width: 600px)

  .tabs
    display: flex
    padding: 0
    width: 100%
    list-style: none
    justify-content: space-between

@import "tabs__tab/tabs__tab.sass"