@media screen and (max-width: 768px)

  .nav__menu_button
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 35px
    height: 26px
    padding-right: 5px
    position: absolute
    right: 20px
    top: 37px

@media screen and (max-width: 425px)

  .nav__menu_button
    height: 25px

@import "_active/nav__menu_button_active.sass"