.steps
  display: flex
  flex-direction: column
  user-select: none

@media screen and (max-width: 1024px)
  .steps
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
    padding: 20px

@media all and (max-width: 768px)
  .steps
    display: none

