.invoice__settings
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-end

@media screen and (max-width: 1400px)
  .invoice__settings
    align-items: center

@media screen and (max-width: 768px)

  .invoice__settings
    align-items: center