@media screen and (max-width: 1024px)

  .content-buttons
    display: flex
    justify-content: space-around
    padding-bottom: 15px

@media screen and (max-width: 768px)

  .content-buttons
    display: none

@import "_drop-menu/content-buttons_drop-menu.sass"
