<template>
    <div class="content">
        <div class="invoice-block currency-converter">
            <div class="invoice invoice_style_currency-converter">
                <div class="invoice-header">
                    <div class="title_size_big">Currency Converter</div>
                </div>
                <div class="currency-converter__block">
                    <span class="title_size_small">Total payment information  {{ currentCurrency }} </span>
                    <div class="currency-converter__item currency-converter__item_border_bottom">
                        <span class="subtitle_size_small">Total</span>
                        <span class="subtitle_size_small">{{ total }}</span>
                    </div>
                </div>
                <div class="currency-converter__block">
                    <div class="currency-converter__item" v-if="!isLoading">
                        <span class="subtitle_size_small">Choose new currency</span>
                        <span class="subtitle_size_small">From</span>
                        <select class="currency-converter__selector"
                                :value="currentCurrency"
                                @input="inputHandler"
                        >
                            <option v-for="(currency, key) in currencies" :key="key"
                                    :disabled="toCurrency === key">
                                {{ key }}
                            </option>
                        </select>
                    </div>
                    <div class="currency-converter__item">
                        <span class="subtitle_size_small">Choose new currency</span>
                        <span class="subtitle_size_small">To</span>
                        <select class="currency-converter__selector"
                                v-model="toCurrency"
                        >
                            <option v-for="(currency, key) in currencies" :key="key"
                                    :disabled="currentCurrency === key"
                            >
                                {{ key }}
                            </option>
                        </select>
                    </div>

                </div>
                <div class="currency-converter__block">
                    <span class="title_size_small">Total payment information  {{ toCurrency }} </span>
                    <div class="currency-converter__item currency-converter__item_border_bottom">
                        <span class="subtitle_size_small">Total</span>
                        <span class="subtitle_size_small">{{ newTotal }}</span>
                    </div>
                </div>
                <router-link :to="{name: 'homepage'}">
                    <button class="button button_color_primary">Back</button>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        data() {
            return {
                newTotal: 0,
                toCurrency: "",
                currencies: [],
                isLoading: true
            }
        },

        computed: {
            ...mapState({
                total: state => state.totalOfAmount,
                currentCurrency: state => state.currentCurrency
            }),
        },

        watch: {
            toCurrency: {
                handler(val) {
                    this.newTotal = (this.currencies[val] * this.total).toFixed(2);
                }
            },
            currentCurrency: {
                handler(val) {
                    this.fetchData()
                }
            }
        },

        methods: {
            inputHandler(e) {
                this.$store.dispatch('setCurrentCurrency', e.target.value)
            },

            changeCurrencies() {
                [this.toCurrency, this.currentCurrency] = [this.currentCurrency, this.toCurrency]
            },

            fetchData () {
                this.isLoading = true;
                return fetch(`https://api.fixer.io/latest?base=${this.currentCurrency}`)
                    .then(data => data.json())
                    .then(res => {
                        this.currencies = res.rates;
                        this.currencies[this.currentCurrency] = 1;
                        this.isLoading = false
                    })
            }

        },

        mounted() {
            if (this.total === 0) {
                this.$router.push({name: 'homepage'})
            }

            this.fetchData()
        }
    }
</script>