<template>
    <div class="content">
        <div class="invoice-block invoice-editor">
            <div class="content-buttons">
                <router-link :to="{name: 'all-invoices'}">
                    <button class="button content__button">all invoices</button>
                </router-link>
                <router-link :to="{name: 'currency converter'}">
                    <button class="button content__button">currency</button>
                </router-link>
                <router-link :to="{name: 'settings'}">
                    <button class="button content__button">settings</button>
                </router-link>
            </div>
            <div class="invoice">
                <invoice-create :invoiceId="invoiceId"></invoice-create>
            </div>
        </div>
    </div>
</template>

<script>
    import InvoiceCreate from '../invoice-section/invoice/Create.vue'

    export default {
        props: {
            query: Number
        },
        data () {
            return {
                total: 0
            }
        },
        computed: {
            invoiceId () {
                return this.$route.params.invoiceId
            }
        },
        components: {
            InvoiceCreate
        }
    }
</script>