<template>
    <div class="content">
        <div class="invoice-block invoice-block_style_settings">
            <div class="invoice invoice_style_settings">
                <div class="invoice-header">
                    <div class="title_size_big title_settings">Profile Settings</div>
                </div>
                <div class="invoice__settings">
                    <settings-elem v-for="(setting, index) in settings"
                                   :name="setting"
                                   :key="index"
                                   :index="index"
                                   @delete="deleteElem"
                    ></settings-elem>
                    <div class="invoice-footer">
                        <div class="user-contacts user-contacts_setting">
                            <div class="field-label">
                                <input class="input_style_user-information
                                              input_setting-description"
                                       placeholder="Description"
                                       maxlength="14"
                                       v-model="settingDescription">
                            </div>
                            <div class="field-body">
                                <button class="button button_color_primary" @click="addSetting">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SettingsElem from './SettingsElem.vue'

    export default {
        components:{
            SettingsElem
        },

        data() {
            return {
                settingDescription: '',

                settings: [
                    'Company',
                    'Name',
                    'Email',
                    'Telephone',
                    'Address'
                ]
            }
        },

        methods: {
            addSetting() {
                if(this.settingDescription) {
                    this.settings.push(this.settingDescription)
                    this.settingDescription = ''
                }
            },

            deleteElem (index) {
                if(index > 4) {
                    this.settings.splice(index, 1);
                }
            },
        }

    }
</script>

