<template>
    <div class="user-contacts user-contacts_setting">
        <div class="field-label">
            <label>{{ name }}</label>
        </div>
        <div class="field-body">
            <input class="input_style_user-information" type="text">
        </div>
        <svg class="svg svg_delete_setting"
             width="11px"
             height="11px"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 174.239 174.239"
             @click="removeSettingElem"
             v-if="index > 4"
        >
            <path d="M146.537,1.047c-1.396-1.396-3.681-1.396-5.077,0L89.658,52.849c-1.396,1.396-3.681,1.396-5.077,0L32.78,1.047  c-1.396-1.396-3.681-1.396-5.077,0L1.047,27.702c-1.396,1.396-1.396,3.681,0,5.077l51.802,51.802c1.396,1.396,1.396,3.681,0,5.077  L1.047,141.46c-1.396,1.396-1.396,3.681,0,5.077l26.655,26.655c1.396,1.396,3.681,1.396,5.077,0l51.802-51.802  c1.396-1.396,3.681-1.396,5.077,0l51.801,51.801c1.396,1.396,3.681,1.396,5.077,0l26.655-26.655c1.396-1.396,1.396-3.681,0-5.077  l-51.801-51.801c-1.396-1.396-1.396-3.681,0-5.077l51.801-51.801c1.396-1.396,1.396-3.681,0-5.077L146.537,1.047z"/>
        </svg>
    </div>
</template>

<script>
    export default{
        props: {
            name: String,
            index: Number,
        },

        methods: {
            removeSettingElem() {
                this.$emit('delete', this.index);
            }
        }
    }
</script>