<template>
    <div class="all-invoices__invoice">
        <router-link :to="{name:'invoice editor', params:{invoiceId: invoice.id}}">
            <div class="all-invoices__elem">
                <div class="all-invoices__td">{{ invoice.number || ""}}</div>
                <div class="all-invoices__td">{{ invoice.client.name || "" }}</div>
                <div class="all-invoices__td">{{ invoice.date || ""}}</div>
                <div class="all-invoices__td">{{ invoice.total || "" }}</div>
            </div>
        </router-link>
        <svg class="svg svg_delete"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 174.239 174.239"
             @click="removeInvoice"
        >
            <path d="M146.537,1.047c-1.396-1.396-3.681-1.396-5.077,0L89.658,52.849c-1.396,1.396-3.681,1.396-5.077,0L32.78,1.047  c-1.396-1.396-3.681-1.396-5.077,0L1.047,27.702c-1.396,1.396-1.396,3.681,0,5.077l51.802,51.802c1.396,1.396,1.396,3.681,0,5.077  L1.047,141.46c-1.396,1.396-1.396,3.681,0,5.077l26.655,26.655c1.396,1.396,3.681,1.396,5.077,0l51.802-51.802  c1.396-1.396,3.681-1.396,5.077,0l51.801,51.801c1.396,1.396,3.681,1.396,5.077,0l26.655-26.655c1.396-1.396,1.396-3.681,0-5.077  l-51.801-51.801c-1.396-1.396-1.396-3.681,0-5.077l51.801-51.801c1.396-1.396,1.396-3.681,0-5.077L146.537,1.047z"/>
        </svg>
    </div>
</template>

<script>
    import InvoiceApi from '../../api/InvoiceApi.js'

    export default {
        props: {
            invoice: Object,
            index: Number
        },

        methods: {
            removeInvoice() {
                InvoiceApi.deleteInvoice(this.invoice.id)
                    .then(() => {
                        this.$emit('delete', this.index);
                    })
                    .catch(err=>{
                        this.$toasted.show('Oops.. Something went wrong..', {
                            theme: "outline",
                            position: "top-center",
                            duration: 2000});
                    })
            }
        }
    }
</script>