<template>
    <div class="content">
        <div class="invoice-block">
            <div class="invoice all-invoices">
                <div class="invoice-header">
                    <div class="title_size_big">All Invoices</div>
                </div>
               <div class="all-invoices__table">
                   <div class="all-invoices__elem all-invoices__header">
                       <div class="all-invoices__th">Invoice №</div>
                       <div class="all-invoices__th">Client</div>
                       <div class="all-invoices__th">Date</div>
                       <div class="all-invoices__th">Amount</div>
                   </div>
                   <transition-group name="fade" mode="in-out">
                       <invoice v-for="(invoice, index) in invoices"
                                    :key="index"
                                    :invoice="invoice"
                                    :index="index"
                                    @delete="removeInvoice"
                       >
                       </invoice>
                   </transition-group>
               </div>
                <div class="all-invoices__buttons">
                    <router-link :to="{name: 'invoice editor'}">
                        <button class="button button_color_primary">+ add invoice</button>
                    </router-link>
                    <router-link :to="{name: 'homepage'}">
                        <button class="button button_color_primary">Back</button>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import _ from "lodash"
    import router from "vue-router"
    import InvoiceApi from '../../api/InvoiceApi.js'
    import Invoice from '../pages/TableInvoicesElem.vue'

    export default {

        data() {
            return {
                invoices: []
            }
        },

        mounted() {
            this.fetchInvoices()
        },

        methods: {
            removeInvoice(index) {
                this.invoices.splice(index, 1);
            },
            fetchInvoices () {
                InvoiceApi.index()
                    .then(response => {
                        if(Array.isArray(response.data)) {
                            for (let i = 0; i < response.data.length; i++) {
                                this.invoices.push(response.data[i]);
                            }
                        }
                    })
                    .catch(er => {
                        this.$toasted.show('Oops.. Something went wrong..', {
                            theme: "outline",
                            position: "top-center",
                            duration: 2000});
                    })
            }
        },

        components: {
            Invoice
        }
    }
</script>